n8n.json
{
  "nodes": [
    {
      "parameters": {
        "public": false,
        "options": {
          "loadPreviousSession": "memory"
        }
      },
      "id": "2073b0a3-fbe3-4e06-a832-4cba2332df9c",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -736,
        48
      ],
      "webhookId": "5e2a4eb1-96ae-40d1-be6d-2f7c9330a2b3"
    },
    {
      "parameters": {},
      "id": "de23eb83-8307-433e-a784-68f74ee12503",
      "name": "Conversation Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -656,
        272
      ]
    },
    {
      "parameters": {
        "text": "You are a Business Intelligence Orchestrator. Analyze the business query and identify which specialized agents are needed. Delegate tasks to: Market Analysis Agent (for market research, trends, competition), Operations Audit Agent (for process optimization, efficiency analysis), Financial Modeling Agent (for financial projections, ROI calculations), or Lead Generation Agent (for customer acquisition strategies). Coordinate their findings and synthesize a comprehensive business recommendation.",
        "options": {}
      },
      "id": "93f33f0e-6712-4824-b339-c4b2c5939458",
      "name": "Primary Orchestrator Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-nano-2025-08-07",
          "mode": "list",
          "cachedResultName": "gpt-5-nano-2025-08-07"
        },
        "options": {}
      },
      "id": "447cf68e-8d6e-4662-8e1d-ac1151fc459d",
      "name": "OpenAI Model - Orchestrator",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -384,
        272
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-nano-2025-08-07",
          "mode": "list",
          "cachedResultName": "gpt-5-nano-2025-08-07"
        },
        "options": {}
      },
      "id": "4f97ab95-5dc2-406a-9ff1-4454245766e6",
      "name": "OpenAI Model - Market Analysis",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -240,
        480
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-nano-2025-08-07",
          "mode": "list",
          "cachedResultName": "gpt-5-nano-2025-08-07"
        },
        "options": {}
      },
      "id": "f21cf491-e5e4-4cb4-9cdf-3b8b5828e957",
      "name": "OpenAI Model - Operations",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        112,
        480
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-nano-2025-08-07",
          "mode": "list",
          "cachedResultName": "gpt-5-nano-2025-08-07"
        },
        "options": {}
      },
      "id": "e5bb15da-8182-4be1-8351-cd5436ab47e3",
      "name": "OpenAI Model - Financial",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        320,
        480
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-nano-2025-08-07",
          "mode": "list",
          "cachedResultName": "gpt-5-nano-2025-08-07"
        },
        "options": {}
      },
      "id": "dd2f92c5-d654-43d0-813b-628a57c61673",
      "name": "OpenAI Model - Lead Gen",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        688,
        480
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "description": "Search the web for current information, market data, industry trends, competitor information, and business intelligence. Use this when you need up-to-date information from the internet.",
        "jsCode": "const query = $input.item.json.query || \"business intelligence\";\n\n// Simulated web research - in production, integrate with actual search APIs\nconst results = {\n  query: query,\n  timestamp: new Date().toISOString(),\n  sources: [\n    { title: \"Industry Report\", url: \"https://example.com/report\", summary: \"Market analysis data\" },\n    { title: \"Competitor Analysis\", url: \"https://example.com/competitor\", summary: \"Competitive landscape insights\" }\n  ],\n  insights: `Research results for: ${query}. Note: Connect to real search APIs (Google, Bing, etc.) for production use.`\n};\n\nreturn { json: results };"
      },
      "id": "1142a8ee-08df-481b-b033-fb31f2b58144",
      "name": "Web Research Tool",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        -96,
        480
      ]
    },
    {
      "parameters": {},
      "id": "975c6722-081c-4c9b-804e-b7f3f825a746",
      "name": "Calculator Tool",
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        480,
        480
      ]
    },
    {
      "parameters": {
        "toolDescription": "Specialized agent for market analysis, competitive research, industry trends, market sizing, and customer segmentation. Use this agent when you need insights about markets, competitors, or industry dynamics.",
        "text": "Conduct comprehensive market analysis based on the business query. Research market trends, competitive landscape, target audience, market size, and growth opportunities. Use the web research tool to gather current market data. Provide actionable insights and strategic recommendations.",
        "options": {}
      },
      "id": "acfcc5df-1bea-4504-9d11-bdeb0553ced8",
      "name": "market_analysis_agent",
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        -256,
        272
      ]
    },
    {
      "parameters": {
        "toolDescription": "Specialized agent for operations audit, process optimization, efficiency analysis, workflow improvement, and operational excellence. Use this agent when you need to evaluate or improve business operations.",
        "text": "Perform a thorough operations audit based on the business query. Analyze current processes, identify inefficiencies, bottlenecks, and improvement opportunities. Recommend process optimizations, automation opportunities, and operational best practices. Focus on scalability and efficiency.",
        "options": {}
      },
      "id": "530265e9-76e5-41ee-85b4-55fd69bca14c",
      "name": "operations_audit_agent",
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        32,
        272
      ]
    },
    {
      "parameters": {
        "toolDescription": "Specialized agent for financial modeling, ROI calculations, revenue projections, cost analysis, and financial planning. Use this agent when you need financial analysis or projections.",
        "text": "Create detailed financial models and analysis based on the business query. Calculate ROI, project revenues and costs, analyze profitability, assess financial risks, and provide budget recommendations. Use the calculator tool for precise calculations. Present findings with clear financial metrics and recommendations.",
        "options": {}
      },
      "id": "d2e5ae0e-dc8f-4166-9a50-2685f4d9a1d0",
      "name": "financial_modeling_agent",
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        320,
        272
      ]
    },
    {
      "parameters": {
        "toolDescription": "Specialized agent for lead generation strategies, customer acquisition, sales funnel optimization, and growth hacking. Use this agent when you need strategies to acquire new customers or generate leads.",
        "text": "Develop comprehensive lead generation strategies based on the business query. Identify target customer profiles, recommend acquisition channels, design conversion funnels, suggest growth tactics, and provide actionable lead generation plans. Focus on scalable and cost-effective customer acquisition methods.",
        "options": {}
      },
      "id": "c08010ba-5870-4964-aaf9-eb37f76b2eeb",
      "name": "lead_generation_agent",
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        608,
        272
      ]
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        368,
        80
      ],
      "id": "05a89fc9-4905-4bc8-98fc-bc9de1de615e",
      "name": "Think"
    }
  ],
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Primary Orchestrator Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "Chat Trigger",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Primary Orchestrator Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model - Orchestrator": {
      "ai_languageModel": [
        [
          {
            "node": "Primary Orchestrator Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model - Market Analysis": {
      "ai_languageModel": [
        [
          {
            "node": "market_analysis_agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model - Operations": {
      "ai_languageModel": [
        [
          {
            "node": "operations_audit_agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model - Financial": {
      "ai_languageModel": [
        [
          {
            "node": "financial_modeling_agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model - Lead Gen": {
      "ai_languageModel": [
        [
          {
            "node": "lead_generation_agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Web Research Tool": {
      "ai_tool": [
        [
          {
            "node": "market_analysis_agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator Tool": {
      "ai_tool": [
        [
          {
            "node": "financial_modeling_agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "market_analysis_agent": {
      "ai_tool": [
        [
          {
            "node": "Primary Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "operations_audit_agent": {
      "ai_tool": [
        [
          {
            "node": "Primary Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "financial_modeling_agent": {
      "ai_tool": [
        [
          {
            "node": "Primary Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "lead_generation_agent": {
      "ai_tool": [
        [
          {
            "node": "Primary Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Primary Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "debe6d30407a42df73a57abc7a04afa247b1969021d0a5effcc4f81710755278"
  }
}